.footer { 
  background: black;
  color: white;
  padding: 40px 20px;
}

.footerContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px;
}

.footerSection {
  min-width: 200px;
}

.footerSection h4 {
  font-size: 18px;
  margin-bottom: 15px;
  color: orange;
}

.footerSection p {
  font-size: 14px;
  line-height: 1.5;
  color: white;
}

.footerSection ul {
  list-style: none;
  padding: 0;
}

.footerSection ul li {
  margin: 5px 0;
}

.footerSection ul li a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.footerSection p a {
  color: white;
  text-decoration: none;
}

.socialIcons {
  display: flex;
  gap: 20px;
  padding: 10px;
}

.socialIcons a {
  color: rgb(255, 255, 255);
  font-size: 25px;
  text-decoration: none;
  padding: 10px;
}

.footerBottom {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  border-top: 1px solid white;
  padding-top: 10px;
}

@media (max-width: 1024px) {
  .footerContainer {
    grid-template-columns: repeat(2, 1fr); 
  }

  .footerSection {
    min-width: 250px;
    text-align: left;
  }

  .socialIcons {
    justify-content: flex-start;
  }
}

@media (max-width: 768px) {
  .footerContainer {
    grid-template-columns: 1fr; 
  }

  .footerSection {
    text-align: center;
  }

  .socialIcons {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 20px 10px;
  }

  .footerSection h4 {
    font-size: 16px;
  }

  .footerSection p,
  .footerSection ul li a {
    font-size: 12px;
  }

  .socialIcons a {
    font-size: 16px;
  }

  .footerBottom {
    font-size: 12px;
  }
}
