* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
.skill-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    padding: 7rem;
    background-color: #f9f9f9;
  }
  
  .skill-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background: white; */
    /* border: 1px solid #ddd; */
    border-radius: 8px;
    width: 150px;
    height: 200px;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    /* transition: transform 0.3s ease, box-shadow 0.3s ease; */
    text-align: center;
  }
  
.skill-item:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  }  
  
  .skill-icon img {
    width: 100px;
    height: 100px;
    margin-bottom: 0.5rem;
    object-fit: contain;
  }
  
  .skill-name {
    font-size: 1rem;
    font-weight: 600;
    color: #333;
  }
  