.bigbox {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.container {
  width: 100%;
  max-width: 800px;
  border-radius: 20px;
  margin-top: 4rem;
}

.profileInfo {
  padding: 20px;
}

.section {
  margin-bottom: 30px;
}

.sectionWrapper {
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 25px;
}

h1, h2 {
  margin-bottom: 20px;
  color: #0d0d0d;
}

.formGroup {
  margin-bottom: 10px;
}

.formGroup label {
  font-weight: bold;
}

.formGroup input, .formGroup select {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
  border: 1px solid #ec4ca1;
  border-radius: 14px;
}

.profilePhotoSection {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.profilePhoto {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

input[type="file"] {
  margin-top: 10px;
}

input[type="date"], input[type="email"], input[type="number"], input[type="text"], select {
  background-color: #fff;
}

.required {
  color: rgb(209, 14, 14);
}


.saveButtonSection {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.saveButton {
  background-color: #ec4ca1;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
}

.saveButton:hover {
  background-color: #ec4ca1;
}
.buttonadd{
  background-color: #ec4ca1;
  color: #fff;
  border: 1px solid;
  border-radius: 25px;
  width: 60px;
  height: 30px;
  cursor: pointer;
  padding: 2px;
  margin-top: 9px;
}
.experiencebutton{
  background-color: #ec4ca1;
  color: #fff;
  border: 1px solid;
  border-radius: 25px;
  width: 120px;
  cursor: pointer;
  padding: 10px;
  margin: 8px;
}
.project_button{
  background-color: #ec4ca1;
  color: #fff;
  border: 1px solid;
  border-radius: 25px;
  width: 100px;
  margin: 5px;
  padding: 10px;
}
.description_to{
  margin-top: 10px;
  width: 70%;
}

