*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;

}
.big_box{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #b0b0b0;
}
.main-container{
    position: relative;
    margin-top: 85px;
    width: 80vw;
    height: 86vh;

}
.main-container{
    position: relative;
    margin-top: 80px;
    width: 80vw;
    height: 95vh;
    background:#fff ;
    border-radius: 15px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3),0 6px 20px 0 rgba(0, 0, 0, 0.3) ;
    overflow: hidden;
}
.main-container::before{
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg,#df4adf,#520852);
    z-index:6;
    transform:translateX(100%);
    transition: 1s ease-in-out;
}
.signin-signup{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 5;
}
.signin_form,.signup_form{
    display: flex !important;;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    min-width: 238px;
    padding: 0 10px;
}
form.signin_form{
    opacity: 1;
    transition: 0.5s ease-in-out;
    transition-delay: 1s;
}
form.signup_form{
    opacity: 1;
    transition: 0.5s ease-in-out;
    transition-delay: 1s;
}
.heading {
    font-size: 35px;
    color: #df4adf;
    margin-bottom: 10px;

}
.enter_field{
   width: 100%;
   height: 50px;
   background: #fff; 
   margin: 10px 0;
   border: 2px solid #df4adf;
   border-radius: 50px;
   display: flex;
   align-items: center;

}
.enter_field i{
    flex: 1;
    text-align: center;
    color: #666;
    font-size: 18px;
}
.enter_field input{
    flex: 5;
    background: none;
    border: none;
    outline: none;
    width: 100%;
    font-size: 15px;
    font-weight: 600;
    color: #444;

}
.signin-button,.signup-button{
    width:150px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background-color: #df4adf;
    color: #fff;
    font-weight: 600 ;
    margin: 10px 0;
    text-transform: uppercase;
    cursor: pointer;
}
.signin-button:hover{
    background: #c03cc0;
}
.signup-button:hover{
    background: #c03cc0;
}
.para{
    margin: 10px 0;
    font-size: 16px;

}
.social-icon{
   height: 45px;
   width: 45px;
   color: #444;
   border: 1px solid #444;
   border-radius: 50px;
   margin: 10px;
   padding: 5px;
}
.social-icon:hover{
    color: #df4adf;
    border-color:#df4adf ;
}
.panels-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 35%;
    min-width: 238px;
    padding: 0 10px;
    text-align: center;
    z-index: 6;
    margin-top: 1rem;
}
.left-panel{
    pointer-events: none;
}
.content1 {
    color: #fff;
    transition: 1.1s ease-in-out;
    transition-delay: 0.5s ;
}
.panel h3{
    font-size: 24px;
    font-weight:600 ;
}
.panel p{
    color: #fff;
    font-size: 15px;
    padding: 10px 0;
}
.pic1{
    width: 100%;
    height: 50%;
    width: 80%;
    transition: 1.1s ease-in-out;
    transition-delay: 0.4s;
    

}
.left-panel .pic1,
.left-panel .content1{
    transform: translateX(-200%);
}
.right-panel .pic1,
.right-panel .content1{
    transform: translateX(0);
}


/*Animation*/
.main-container.sign-up-mode::before{
    transform: translateX(0);
}
.main-container.sign-up-mode .right-panel .pic1,
.main-container.sign-up-mode .right-panel .content1{
    transform: translateX(200%);
}
.main-container.sign-up-mode .left-panel .pic1,
.main-container.sign-up-mode .left-panel .content1{
    transform: translateX(0);
}

.main-container.sign-up-mode.signin_form{
    opacity: 0;
}
.main-container.sign-up-mode.signup_form{
    opacity: 1;
}

.main-container.sign-up-mode .right-panel{
    pointer-events: none;
}
.main-container.sign-up-mode .left-panel{
    pointer-events: all;
}

.account-text{
    display: none;
}

/*Responsive*/

@media (max-width:779px){
    .main-container{
        width: 100vw;
        height: 100vh;

    }
}
@media (max-width:635px){

    .main-container::before{
        display: none;
    }
    .signin_form,.signup_form{
        width: 80%;
    }
    .big_box .signup_form {
        display: none !important;
    }
    .main-container.sign-up-mode2  .signup_form{
        display: flex !important;
        opacity: 1;
    }
    .main-container.sign-up-mode2 .signin_form{
        display: none !important;
    }
    .panels-container{
        display: none;
    }
    .account-text{
        display:initial;
        margin-top: 20px;
    }
    
}
@media (max-width:320px){
    .signin_form,.signup_form{
        width: 90%;
    }
}