* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  html {
    font-size: 16px;
  }
  
  .ctn {
    display: flex;
    width: 100vw;
    height: 90vh;
    margin-top: 4.8rem;
    overflow: hidden;
  }
  
 
  .left {
    flex: 1 1 40%;
    background-image: url('https://i.pinimg.com/236x/62/d2/55/62d255d8a2feb0fbb34efd20b79ecf12.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.25rem;
  }
  
  .s-left {
    text-align: center;
    max-width: 18.75rem;
  }
  
  .s-left h2 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 0.625rem;
    color: #000000;
    background-color: #ffffff;
    padding: 0.5rem;
    border-radius: 8px;
  }
  
  .s-left p {
    font-size: 1.2rem;
    color: #000000;
    background-color: #ffffff;
    padding: 0.5rem;
    border-radius: 8px;
  }
  
 
  .right {
    flex: 1 1 60%;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.25rem;
  }
  
  form.right {
    max-width: 56.25rem;
    padding: 1.25rem;
    height: 31.25rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .right h1 {
    font-size: 2rem;
    font-weight: 700;
    color: #000000;
    margin-bottom: 1.5625rem;
    text-align: center;
  }
  

  .grp {
    margin-bottom: 1.25rem;
  }
  
  .grp label {
    display: block;
    color: #333;
    margin-bottom: 0.5rem;
    font-weight: bolder;
  }
  
  .grp input {
    width: 100%;
    padding: 0.5rem 1.25rem;
    font-size: 1.3rem;
    font-family: 'Times New Roman', Times, serif;
    border: 1.5px solid #111111;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
    max-width: 25rem;
  }
  
  .grp input:focus {
    border-color: #ff6600;
  }
  
  .grp input::placeholder {
    font-size: 1rem;
    color: #666;
    opacity: 1;
  }
  
 
  .email-cnt,
  .pass-cnt {
    position: relative;
  }
  
  .email-cnt input,
  .pass-cnt input {
    width: 100%;
    padding-right: 6.25rem;
  }
  
  .eye-ico {
    position: absolute;
    right: 0.625rem;
    top: 70%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.125rem;
    color: #666;
  }
  
 
  .fg-pass {
    display: block;
    font-size: 0.875rem;
    color: #0073e6;
    text-decoration: none;
    text-align: right;
  }
  
  .fg-pass:hover {
    text-decoration: underline;
  }
  
 
  .btn {
    padding: 0.625rem;
    width: 24.375rem;
    font-size: 1rem;
    color: white;
    background-color: #ff6600;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    transition: background-color 0.3s;
  }
  
  .btn:hover {
    background-color: #ff4500;
  }
  

  .link-signup {
    color: #ff6600;
    text-decoration: none;
    
  }
  
  .link-signup:hover {
    text-decoration: underline;
  }
  p {
    font-size: 1rem;               
    color: #000000;                    
    text-align: center;            
    margin-top: 0.3rem;         
  }
  
  .err-msg {
    color: #ff4500;
    font-size: 0.875rem;
    margin-bottom: 0.625rem;
    text-align: center;
  }
  
  @media (max-width: 768px) {
    html {
      font-size: 14px;
    }
  
    .ctn {
      flex-direction: column;
      height: auto;
    }
  
    .left, .right {
      flex: 1 1 100%;
      height: 100vh;
    }
  
    .left {
      min-height: 15.625rem;
      padding: 1.25rem;
    }
  
    .right {
      padding: 1.25rem;
    }
  
    .right h1 {
      font-size: 1.5rem;
    }
  
    form.right {
      max-width: 100%;
      padding: 1.25rem;
    }
  
    .eye-ico {
      font-size: 1.125rem;
    }
  }
  
  @media (max-width: 480px) {
    html {
      font-size: 12px;
    }
  
    .s-left h2 {
      font-size: 1.25rem;
    }
  
    .s-left p {
      font-size: 0.875rem;
    }
  
    .right h1 {
      font-size: 1.375rem;
    }
  
    .grp input {
      padding: 0.625rem;
      font-size: 0.875rem;
    }
  
    .btn {
      padding: 0.625rem;
      font-size: 0.875rem;
      width: 13rem;
    }
  
    .fg-pass,
    .link-signup {
      font-size: 0.75rem;
    }
  }
  