.forBackground {
  animation: gradientAnimation 5s ease infinite;
  min-height: 100vh;
  padding: 0.5rem;
  background-color: rgb(255, 255, 255);
}

.pageContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1.5rem;
  gap: 0.1rem;
  animation: gradientAnimation 5s ease infinite;
  border-radius: 12px;
  max-width: 1500px;
  width: 100%;
  margin-top: 2.5rem;
}

.imageSection {
  flex: 1;
  max-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageSection img {
  max-width: 90%;
  border-radius: 12px;
  margin-top: 3rem;
}

.formSection {
  flex: 1;
  max-width: 50%;
  background: transparent;
  animation: gradientAnimation 5s ease infinite;
  padding: 1rem;
}

.formHeading {
  font-size: 2rem;
  color: #000000;
  text-align: center;
  margin-bottom: 1rem;
}

.formGroup {
  margin-bottom: 1.6rem;
}

.formGroup label {
  font-size: 1rem;
  color: #000000;
  margin-bottom: 0.5rem;
  display: block;
  font-weight: bolder;
}

input,
select {
  width: 100%;
  padding: 0.75rem;
  border: 3px solid #df4adf;
  border-radius: 30px;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s;
}

.button {
  font-size: 1rem;
  background-color: #df4adf;
  padding: 0.8rem 1rem;
  border-radius: 20px;
  border: none;
  color: white;
  margin-top: 0.8rem;
}

.btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  width: 100%;
}

.previousButton,
.nextButton {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: #df4adf;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.previousButton:hover,
.nextButton:hover {
  background-color: #e24fa9;
}

.star {
  color: rgb(231, 30, 30);
  font-size: 1.1rem;
}


@media (max-width: 768px) {
  .pageContainer {
    flex-direction: column;
    padding: 1.5rem;
    align-items: center;
  }

  .imageSection {
    display: none;
  }

  .formSection {
    max-width: 100%;
  }

  .btns {
    flex-direction: row;
    width: 100%;
  }

  .previousButton,
  .nextButton {
    width: 35%;
  }
  .button{
    margin-top: 10px;
  }
}

@media (max-width: 480px) {
  .formSection {
    padding: 1rem;
    width: 100%;
  }

  .formHeading {
    font-size: 1.5rem;
  }

  input,
  textarea,
  select {
    padding: 0.6rem;
    font-size: 0.9rem;
  }

  .btns {
    flex-direction: row;
    gap: 5rem;
  }

  .previousButton,
  .nextButton {
    width: 100%;
    padding: 0.7rem;
    font-size: 0.9rem;
  }
}

.requiredSkills .removeButton {
  background: none;
  border: none;
  color: red;
  font-weight: bold;
  cursor: pointer;
  font-size: 0.9rem;
  padding-left: 5px;
}

