.forBackground {
  /* background: linear-gradient(90deg,#cd6ac8,#500d5b); */
  animation: gradientAnimation 5s ease infinite;
  min-height: 100vh;
  padding: 0.5rem;
  background-color: rgb(255, 255, 255);
}

@keyframes gradientAnimation {
  0% {
    background-position: top left;
  }
  50% {
    background-position: bottom right;
  }
  100% {
    background-position: top left;
  }
}

.pageContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1.5rem;
  gap: 0.1rem;
  animation: gradientAnimation 5s ease infinite;  border-radius: 12px;
  max-width: 1500px;
  width: 100%;
  margin-top: 2.2rem;
}

.imageSection {
  flex: 1;
  max-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.imageSection img {
  max-width: 100%;
  border-radius: 12px;
  margin-top: 3rem;
}

.formSection {
  flex: 1;
  max-width: 50%;
  background: transparent;
  animation: gradientAnimation 5s ease infinite; 
  padding: 1rem;

}

.formHeading {
  font-size: 2rem;
  color: #000000;
  text-align: center;
  margin-bottom: 1rem;
}

.formGroup {
  margin-bottom: 1.6rem;
}

.formGroup label {
  font-size: 1rem;
  color: #000000;
  margin-bottom: 0.5rem;
  display: block;
  font-weight: bolder;
}

input,
textarea,
select {
  width: 100%;
  padding: 0.75rem;
  border: 3px solid #df4adf;
  border-radius:30px;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s;
}


textarea {
  resize: vertical;
}

.radioGroup {
  display: flex;
  gap: 1rem;
}

.radioGroup label {
  font-size: 1rem;
  color: #000000;
}

.nextButton {
  display: block;
  width: 20%;
  padding: 0.75rem;
  background-color: #df4adf;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left:auto;
  margin-top: 0.2rem;
}

.nextButton:hover {
  background-color: #9b4379;
}
.star{
  color:rgb(231, 30, 30);
  font-size: 1.1rem;
}

@media (max-width: 768px) {
  .pageContainer {
    flex-direction: column;
    padding: 1.5rem;
    align-items: center;
  }

  .imageSection {
    display: none;
  }

  .formSection {
    max-width: 100%;
  }

  .nextButton {
    width: 50%;
  }
}

@media (max-width: 480px) {
  .formSection {
    padding: 1.5rem;
  }

  .formHeading {
    font-size: 1.5rem;
  }

  input,
  textarea,
  select {
    padding: 0.6rem;
    font-size: 0.9rem;
  }

  .nextButton {
    width: 50%;
    padding: 0.6rem;
    font-size: 0.9rem;
    
  }
}
