/* Page3.css */

.page-no-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(120deg, #e91edb, hsl(306, 61%, 32%), #a209c1);
  font-family: 'Arial', sans-serif;
  padding: 20px;
}

.job-container {
  background: linear-gradient(120deg, #e91edb, hsl(306, 61%, 32%), #a209c1);
  border-radius: 20px;
  width: 100%;
  max-width: 600px;
  padding: 20px;
}

.job-heading {
  text-align: center;
  font-size: 1.8rem;
  color: #0e0d0d;
  margin-bottom: 20px;
}

.job-label {
  display: block;
  font-size: 1rem;
  color: #070707;
  margin-bottom: 5px;
  font-weight: bold;
}

.job-input, .job-select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 1rem;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.job-input:focus, .job-select:focus {
  border-color: #007BFF;
  outline: none;
}

.job-btn {
  background-color: #e70d97;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  margin-right: 10px;
}

.job-btn:hover {
  background-color: #e70d97;
}

.job-skill-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 15px;
}

.job-skill {
  background: #f0f0f0;
  color: #0c0606;
  border-radius: 5px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
}

.job-skill button {
  background-color: #e70d97;
  border: none;
  color: #ff4d4d;
  font-weight: bold;
  margin-left: 5px;
  cursor: pointer;
}

.job-skill button:hover {
  background-color: #e70d97;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .job-container {
    padding: 15px;
  }

  .job-heading {
    font-size: 1.5rem;
  }

  .job-btn {
    font-size: 0.9rem;
    padding: 8px 15px;
  }
  
}
@media (max-width: 600px) {
  .job-input{
  }
}